<div class="row text-white">
  <div class="col-md-6 bg-secondary p-3">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label> <br>
        <input class="form-input" type="text" id="email-login"  placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label><br>
        <input class="form-input" type="password" id="password-login"  placeholder="Enter password" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Login</button>
      </div>
    </form>
  </div>
<br>
  <div class="col-md-6 bg-secondary p-3">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label> <br>
        <input class="form-input" type="text" id="name-signup" placeholder="Enter name"/>
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label> <br>
        <input class="form-input" type="text" id="email-signup" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label> <br>
        <input class="form-input" type="password" id="password-signup" placeholder="Enter password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Sign up</button>
      </div>
    </form>
  </div>
</div>


<script src="../public/js/login.js"></script>